html {
    /*background-color: #101099;*/
    background-image: url("https://sobaht.ml/dfbadbffbdbdfdbsfsfbdsdfbg.png");
    /*color: #FFFFFF;*/ 
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
}
.title {
    letter-spacing: 5px; 
    font-size: 1.25em;
}
big {
    overflow-wrap: anywhere;
}
