html {
    background-color: #101010;
    /*background-image: url("https://so.bang.cl/dfbadbffbdbdfdbsfsfbdsdfbg.png");*/ 
    color: white;
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%
}
:root {
    --easeout1: 150ms ease-out;
    --grey1: #cccccc
}
.txt1 {
    color: var(--grey1);
    text-decoration-color: var(--grey1);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    transition: var(--easeout1)
}
.txt1:hover {
    transition: var(--easeout1);
    text-decoration-color: red
}
.point {
    color: #1976D2;
    background: white;
    transition: var(--easeout1)
}
.point:hover {
    color: yellow;
    background: none;
    text-decoration: none;
    transition: var(--easeout1)
}
.title {
    letter-spacing: 5px; 
    font-size: 1.25em
}
big {
    overflow-wrap: anywhere
}
