*{background:#101010}
svg{
    background:white;
    padding:0.5%;
    padding-bottom:0.45%;
    border-radius:6px;
    position:absolute;
    transform:scale(500%)translateY(72.5%)}
.shorten_list_qr_preview_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center}